<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시퀄라이즈 서버</title>
    <style>
        table { border: 1px solid black; border-collapse: collapse; }
        table th, table td { border: 1px solid black; }
    </style>
</head>
<body>
    <div>
        <form id="user-form">
            <fieldset>
                <legend>사용자 등록</legend>
                <div><input id="first_name" type="text" placeholder="first name"></div>
                <div><input id="last_name" type="text" placeholder="last name"></div>
                <div><input id="email" type="text" placeholder="email"></div>
                <div><input id="password" type="text" placeholder="password"></div>
                <button type="submit">등록</button>                
            </fieldset>
        </form>
    </div>
</body>
</html>